.Checkout_container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
}

.Checkout_status {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.Checkout_status>i {
    color: rgb(209, 209, 209);
}

.Checkout_status>div {
    display: flex;
    align-items: center;
    gap: 7px;
    color: rgb(155, 155, 155);
}

.Checkout_status>.Checkout_status_item_active {
    color: black;
}

.Checkout_status>.Checkout_status_item_active>span {
    font-weight: 700;
}

.Checkout_status>div>span {
    font-weight: 500;
}

.Checkout {
    display: flex;
    gap: 30px;
}

.Checkout_left {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 4;
    height: fit-content;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    padding: 25px;
}

.Checkout_left_row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.Checkout_left_row_2col{
    display: flex;
    gap: 20px;
}

.Checkout_left_row>span {
    font-weight: 500;
    padding-left: 2px;
}

.Checkout_left_row>input, textarea, select {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    padding: 10px;
    border: 1px solid rgb(197, 197, 197);
    font-size: 14px;
}

.Checkout_left_row>textarea {
    height: 80px;
}

.Checkout_right {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 3;
    background-color: rgb(240, 240, 240);
    padding: 25px;
    border-radius: 5px;
    height: fit-content;
}

.Checkout_right_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Checkout_right_title>span {
    color: rgb(161, 161, 161);
    font-weight: 500;
}

.Checkout_right_table {
    display: flex;
    flex-direction: column;
}

.Checkout_right_table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 10px;
    border-bottom: 2px solid rgb(226, 226, 226);
}

.Checkout_right_table-row .table-row-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.Checkout_right_table-row .table-row-left_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 5px;
    overflow: hidden;
}

.Checkout_right_table-row .table-row-left_img>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Checkout_right_table>button {
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.select{
    font-size: 14px;
    font-weight: 500;
    outline-color: black;
    border-radius: 5px;
}