.Header {
    display: flex;
    position: sticky;
    top: 0;
    height: 50px;
    background-color: #0b0b0b;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 99;
}

.Header_logo{
    animation: fade_move 0.2s ease-in-out;
}

.Header_link {
    display: flex;
    align-items: center;
    height: 100%;
    animation: fade_move 0.2s ease-in-out;
}

.Header_link a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    height: 100%;
    font-weight: 500;
    padding: 5px 20px;
    transition: 0.2s;
}

.Header_link a:hover {
    background-color: white;
    color: #0b0b0b;
}

.Header_option {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 15px;
    position: relative;
}

.Header-user-box{
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    min-width: 250px;
    background-color: white;
    position: absolute;
    top: 60px;
    right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    color: black;
}

.User-box-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.User-box-top > span{
    font-size: 10px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
}

.User-box-option{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.User-box-option > a{
    text-decoration: none;
}

.Header_option>a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    color: white;
    text-decoration: none;
    border-radius: 50%;
}

.Header_option i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.Header_option a:hover {
    background-color: #282828;
}

.active_link {
    background-color: white !important;
    color: #0b0b0b !important;
}

.Header_cart_icon {
    position: relative;
}

.Header_cart_icon>span {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 10px;
    border-radius: 50%;
    border: 1px solid black;
}

.Header_searchBox {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 50%;
    animation: fade_move 0.3s ease-in-out;
}

.Header_searchBox>input {
    height: 35px;
    padding-left: 10px;
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

.Header_searchBox>button {
    background-color: white;
    color: black;
    height: 35px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

.Header_back {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    color: white;
    text-decoration: none;
    border-radius: 50%;
    font-size: 18px;
    animation: fade_move 0.2s ease-in-out;
}

.Header_back:hover {
    background-color: #282828;
}

@keyframes fade_move {
    0% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
    }
}


/* Login Component */
.Login{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 102;
    overflow: hidden;
}

.overplay{
    cursor: pointer;
    background-color: rgba(0,0,0,0.3);
    position: fixed;   
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 102;
}

/* No-scroll */
body:has(.overplay){
    overflow-y: hidden;
}

.Login_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    z-index: 103;
}