.Cart {
    display: flex;
    padding: 50px;
    min-height: 500px;
    gap: 40px;
}

.Cart_left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.Cart_left_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Cart_left_title>span {
    color: #b3b3b3;
    font-weight: 500;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 25px 10px;
}

tr {
    border-bottom: 1px solid #dddddd;
}

.Cart_right {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 350px;
    background-color: rgb(239, 239, 239);
    border-radius: 5px;
    padding: 25px 20px;
    position: sticky;
    top: 100px;
    gap: 20px;
}

.Cart_right>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Cart_right>div>h4 {
    font-weight: 500;
}

.Cart_right>button {
    background-color: black;
    color: white;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    gap: 10px;
}

.Cart_right>button>i {
    transform: translateX(0px);
    transition: 0.3s;
}

.Cart_right>button:hover>i {
    transform: translateX(10px);
}

.Cart_right_total>span {
    font-size: 18px;
    font-weight: 600;
}

.Cart input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: black;
    transform: translateY(2px);
}

.CartItem> :nth-child(2) {
    display: flex;
    align-items: center;
    gap: 14px;
}

.CartItem> :nth-child(2)>.CartItem_img {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    width: 60px;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid rgb(229, 229, 229);
}

.CartItem> :nth-child(2)>.CartItem_img>img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.CartItem_info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.CartItem_info>h4 {
    font-size: 15px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    max-width: 300px;
}

.CartItem_info_variant {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #adadad;
    font-size: 14px;
    font-weight: 500;
}

.CartItem_info_variant>div {
    background-color: rgb(255, 170, 0);
    width: 12px;
    height: 12px;
}

.CartItem> :nth-child(2)>.CartItem_info {
    flex: 1;
}

.CartItem> :nth-child(3)>div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.CartItem> :nth-child(3)>div>span {
    display: flex;
    width: 14px;
    align-items: center;
    justify-content: center;
}

.CartItem> :nth-child(3)>div>button {
    border: none;
    color: black;
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

.CartItem> :nth-child(3)>div>button:hover {
    background-color: #ebebeb;
}

.CartItem> :nth-last-child(1)>div {
    cursor: pointer;
    border: none;
    color: black;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CartItem> :nth-last-child(1)>div:hover {
    background-color: #ebebeb;
}